<div id="step-bar">
  <div class="all-steps">
    <div class="step">
      <p>☝</p>
      <h3>1 - Séjour</h3>
    </div>
    <div class="step active-step">
      <p>✌</p>
      <h3>2 - Voyageurs</h3>
    </div>
    <div class="step">
      <p>👏</p>
      <h3>3 - Validation</h3>
    </div>
  </div>
  <div class="price">
    <h4>90€</h4>
  </div>
</div>
<div class="empty-form-div"></div>
<div id="user-banner">
  <div class="user-form">
    <div class="user-form-content">
      <%= simple_form_for [@journey, @user], defaults: { label: false, input_html: { class: 'user-input' } } do |f| %>
        <h2>Qui participe à ce séjour ?</h2>
        <ul class="accordeon-user">
          <li class="accordeon-user_item">
            <h4 class="accordeon-user_title">Voyageur principal</h4>
            <div class="accordeon-user_content">
              <%= f.input :name, placeholder: "Prénom*", error: 'Nous avons besoin de votre nom :)' %>
              <%= f.input :surname, placeholder: "Nom de famille*", error: 'Votre prénom est nécessaire à la réservation !' %>
              <%= f.input :gender, prompt: "Vous êtes*", collection: ['Une Femme', 'Un Homme'], error: 'Merci de renseigner ce champs' %>
              <%= f.input :address, placeholder: "Adresse*", error: 'Merci de renseigner ce champs', input_html: { id: 'flat_address' }%>
              <%= f.input :birth_date, label: "Date de naissance*" %>
              <%= f.input :email, placeholder: "email*", error: 'Votre mail est invalide, veuillez réessayer.' %>
              <%= f.input :phone, placeholder: "Téléphone portable*", input_html: { id: 'user-phone' }, error: 'Le format est invalide.' %>
              <%= f.input :contact, label: "Je désire être aussi contacté par sms"%>
            </div>
          </li>
        </ul>

        <% (@people_count - 1).times do |i| %>
          <ul class="accordeon-user">
            <li class="accordeon-user_item">
              <h4 class="accordeon-user_title">Voyageur <%= i + 2 %>*</h4>
              <div class="accordeon-user_content">
                <%= f.input :"traveller_#{i + 2}_name", placeholder: "Prénom*" %>
                <%= f.input :"traveller_#{i + 2}_age", placeholder: "Âge*" %>
                <%= f.input :"traveller_#{i + 2}_gender", prompt: "Ce voyageur est*", collection: ['Une Femme', 'Un Homme'] %>
                <%= f.input :"traveller_#{i + 2}_email", placeholder: "Email" %>
              </div>
            </li>
          </ul>
        <% end %>

        <%= f.submit "SUIVANT", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $("#user-phone").mask("99 99 99 99 99");

    $(function(){
      // hide all content
      $('.accordeon-user_content').hide();

      $('.accordeon-user_title').click(function(){
        $(this).parent().toggleClass('active').siblings().removeClass('active');
        $('.accordeon-user_content').slideUp();

        if(!$(this).next().is(":visible")) {
          $(this).next().slideDown();
        }
      });
    });
  });
</script>

