<!-- Modal -->
<div class="modal fade" id="myModal-<%= i %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Réservé par <%= journey.client.name + " " + journey.client.surname %></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><strong>Courriel :</strong>
          <%= journey.client.mail %></p>
        <p><strong>Sexe :</strong>
          <%= journey.client.gender %></p>
        <p><strong>Adresse :</strong>
          <%= journey.client.address %></p>
        <p><strong>Date de naissance :</strong>
          <%= journey.client.birth_date %></p>
        <p><strong>Téléphone :</strong>
          <%= journey.client.phone %></p>
        <p><strong>Contact sms :</strong>
          <%= journey.client.contact ? "Non" : "Oui" %></p>
        <p><strong>Points d'attention :</strong>
          <%= journey.detail.points_of_attention %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
