<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

<p>Line</p>
<h1>Journeys</h1>
<% @journeys.each do |journey| %>
  <h3>Séjour #<%= journey.id %></h3>
  <p>Date : <%= journey.detail.date %></p>
  <p>Au départ de : <%= journey.origin %></p>
  <p>Nombre : <%= journey.people_count %></p>
  <p>Destination : <%= journey.destination_type %></p>
  <p>Séjour surprise :  <%= journey.detail.is_a_surprise ? "Oui":"Non" %></p>
  <p>Logement : <%= journey.detail.housing_type %></p>
  <p>Activité : <%= journey.detail.activity_type %></p>
  <p>Point(s) d'attention : <%= journey.detail.points_of_attention %></p>
<% end %>
