<p>Line</p>
<h1>Journeys</h1>
<% @journeys.each do |journey| %>
  <h3>Séjour #<%= journey.id %></h3>
  <p>Date : <%= journey.detail.date %></p>
  <p>Au départ de : <%= journey.origin %></p>
  <p>Nombre : <%= journey.people_count %></p>
  <p>Destination : <%= journey.destination_type %></p>
  <p>Séjour surprise :  <%= journey.detail.is_a_surprise ? "Oui":"Non" %></p>
  <p>Logement : <%= journey.detail.housing_type %></p>
  <p>Activité : <%= journey.detail.activity_type %></p>
  <p>Point(s) d'attention : <%= journey.detail.points_of_attention %></p>
<% end %>
