<div id="summary-banner">
  <div class="summary-block">
    <div class="summary-content">
      <h2>Votre réservation</h2>
      <h3 style="margin-bottom: 10px;"><%= @journey.people_count.to_i %> voyageurs au départ de <%= @journey.origin %> le <%= @journey.detail.date %></h3>
      <h3 style="margin-top: 0;"><%= @journey.detail.is_a_surprise ? "Séjour surprise !" : "" %></h3>
      <h4>Numéro de commande</h4>
        <p>N<%= @journey.id %>LCT</p>
      <h4>Statut</h4>
        <% if @journey.status == "Paid" %>
          <p>À venir </p>
        <% else %>
          <p>Terminé</p>
        <% end %>
      <h4>Nom de réservation</h4>
        <p><%= @journey.user.surname %> <%= @journey.user.name %></p>
        <p><%= @journey.user.address %></p>
        <p><%= @journey.user.email %></p>
        <p><%= @journey.user.phone %></p>
      <h4>Détails</h4>
        <p><%= @journey.detail.housing_type %></p>
        <p><%= @journey.detail.activity_type ? "Activité : " + @journey.detail.activity_type : "Aucune activité sélectionnée" %></p>
        <% if @journey.detail.points_of_attention %>
          <p>Points d'attentions :</p>
          <p><%= @journey.detail.points_of_attention %></p>
        <% end %>
      <div class="summary-price">
        <h4>TOTAL</h4>
        <h4><%= @journey.detail.price.cents / 100 %>€</h4>
      </div>
    </div>
  </div>
  <%= link_to '> Retour à l\'accueil', root_path, class: "home-link", style: "text-align: center;" %>
</div>
