<div id="details-banner">
  <div class="details-form">
    <div class="details-form-content">
      <%= simple_form_for [@journey, @detail] do |f| %>
        <h3>Dates</h3>
        <p>Date: <input type="text" id="datepicker"></p>
        <input type="text" class="daterange"/>

        <%= f.input :date, label: false %>
        <%= f.input :is_a_surprise, label: 'Ce séjour est une surprise' %>
        <h3>Options de logement</h3>
        <%= f.input :housing_type, prompt: "Type de logement", label: false, collection: ['Chambre d\'hôte ou hôtel', 'Hôtel de charme' ] %>
        <h3>Activité optionnelle</h3>
        <%= f.input :activity_type, prompt: "Activité optionnelle", label: false, collection: ['Sport', 'Gastronomie', 'Culture' ] %>
        <h3>Points d'attention</h3>
        <%= f.input :points_of_attention, label: false %>
        <%= f.submit "SUIVANT", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
</script>




<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>
<script>
    if (!window.moment) {
        document.write('<script src="assets/plugins/moment/moment.min.js"><\/script>');
    }
</script>

<script type="text/javascript">
  $(document).ready(function() {
    $('input[class="daterange"]').daterangepicker();
  });
</script>
